@import "tailwindcss";

:root {
  --primary: #f2e7d2;
  --soft-white: #f1f1f1;
  --secondary: #8b1812;
  --tertiary: #1d1d1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: calc(100dvh - 16dvh);
  background-color: var(--soft-white);
}

button {
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  min-width: 290px;
  color: var(--tertiary);
  background-color: var(--primary);
  outline: 2px solid var(--secondary);
}

button:active {
  color: var(--primary);
  background-color: var(--secondary);
  transition: color 0.2s, background 0.2s;
}

svg {
  color: var(--secondary);
}
