@import "tailwindcss";

:root {
  --primary: #f2e7d2;
  --secondary: #8b1812;
  --tertiary: #1d1d1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--tertiary);
}
